@using LoginComponent
@using System.Runtime.CompilerServices

@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="Login"> Login </a>
                    <a href="Register"> Register </a>
                </NotAuthorized>
                <Authorized>
                    <a href="" @onclick="PerformLogout">Log out</a>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    private Login login;
    public void PerformLogout() => login.PerformLogout();
}

